'atom-text-editor':
  insert    : 'overtype-mode:toggle'
  backspace : 'overtype-mode:backspace'
  delete    : 'overtype-mode:delete'
  'cmd-v'   : 'overtype-mode:paste'
# 'atom-text-editor atom-pane-container':
#   enter     : 'overtype-mode:test'
